<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>list com</h1>
<a th:href="@{/computers/create}"> tao moi</a>

<table border="1px">
    <tr>
        <td>Code</td>
        <td>name</td>
        <td>Producer</td>
        <td>type</td>
    </tr>
    <tr th:each="row:${computers}">
        <td th:text="${row.code}" ></td>
        <td th:text="${row.name}" ></td>
        <td th:text="${row.producer}" ></td>
        <td th:text="${row.type}" ></td>
        <td><a th:href="@{/computers/update/{id}(id=${row.getId()})}">update</a></td>
        <td><a th:href="@{/computers/delete/{id}(id=${row.getId()})}">delete</a></td>
    </tr>
</table>
</body>
</html>